:root {
    --accent-bgcolor: #1C6EA4;
    --accent-color: #1C6EA4;
    --content-color: lightcyan;
    --divcards-color: #fff;
    --font-family: fantasy;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--accent-bgcolor);
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the navbar stays on top of other content */
}

header {
    padding-top: 60px; /* Adjust this value to match the height of your navbar */
    /* Other styles for your content */
}

footer {
    background-color: var(--accent-bgcolor);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.content {
    background-color: var(--content-color);
    display: grid;
    grid-template-columns: 2fr 250px;
}

.box1 {
    grid-row: 1 / 3
}

.project-cards {
    display: grid;
    width: 2fr;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 16px;
    margin: 32px
}

.project-cards > div {
    background-color: var(--divcards-color);
    border-radius: 0px 8px 8px 0px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    height: 200px;
    width: 300px;
    padding: 16px;
    border-top: 5px solid var(--accent-color);
    opacity: .8;
}

.project-cards > div:hover {
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    border-top: 5px solid blue;
    transition: box-shadow 0.8s, border-left-color 0.8s;
}

.image-button {
    width: 30px; /* Set the width of the button */
    height: 30px; /* Set the height of the button */
    border: none; /* Remove button border */
    background-size: cover; /* Cover the entire button with the background image */
    cursor: pointer; /* Set cursor to pointer on hover */
    background-color: var(--divcards-color);
}

.fav-button {
    background-image: url("/images/star-plus-outline.svg"); 
}

.view-code-button {
    background-image: url("/images/code-block-braces.svg");
}

.description div {
    opacity: .9;
    background-color: var(--divcards-color);
    border-radius: 8px 8px 8px 8px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    padding: 16px;
    margin-right: 32px;
    /* transition: box-shadow 0.8s, border-left-color 0.8s; */
}